img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

p {
  font-size: 1em;
}

address {
  display: inline-block;
}


a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/

label {
  font-size: 1em;
}

input {
  width: 100%;
  margin: .5em 0;
  border: 1px solid color #A9A9A9;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}

textarea {
  font-size: 1em;
}

input [type="text"] {
  font-size: 1em;
}

.required{
    color:red;
}

::placeholder {
  color: #C0C0C0;
  font-style: italic;
}

textarea {
  width: 100%;
  margin: .5em 0;
  font-size: .5em;
  border: 1px solid #ccc;
  border-radius: 0;
}

input:invalid, textarea:invalid {
  border-color: #C0C0C0`;
}

input:valid, textarea:valid {
  border-color: #89CB8E;
}
